[submodule "qbs"]
	path = qbs
	url = https://github.com/hkarel/QbsExt.git
[submodule "yaml"]
	path = yaml
	url = https://github.com/hkarel/yaml-cpp.git
[submodule "src/shared/shared"]
	path = src/shared/shared
	url = https://github.com/hkarel/SharedTools.git
[submodule "src/yaml"]
	path = src/yaml
	url = https://github.com/hkarel/yaml-cpp.git
[submodule "QbsExt"]
	path = QbsExt
	url = https://github.com/hkarel/QbsExt.git
[submodule "src/yaml-cpp"]
	path = src/yaml-cpp
	url = https://github.com/hkarel/yaml-cpp.git
[submodule "src/shared/SharedTools"]
	path = src/shared/SharedTools
	url = https://github.com/hkarel/SharedTools.git
